@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lobster&family=Montserrat&family=Open+Sans:wght@300;400;600&display=swap');



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background: url(../images/background.jpg) no-repeat center center fixed;
    background: transparent;
}

body {
    background-color: #333333;
    background: url(../images/background.jpg) center center fixed;
}

.maxContainer {
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.smallicon {
    height: auto;
    max-width: 200px;
}


.registerButton, button {
    border-radius: 5px;
    border: none;
    background-color: #00a85e;
    color: white;
    padding: 10px; 
    margin: 0 10px;
}

.registerButton:hover, button:hover{
    background-color: green;
    cursor: pointer;
}

h1, h2, h3 {
    color: #f5f5f5;
    text-align: center;
    font-family: 'Lato';
}

p {
    color: #f5f5f5;
    text-align: left;
    font-family: 'Montserrat';
}

.Hero {
    position: relative;
    text-align: center;
}

.heroImg {
    max-width: 1200px;
    height: auto;
    border-radius: 15px;
}


.CTA {
    font-size: 125px;
    position: absolute;
    text-align: left;
    top: 25px;
    left: 25px;
    color: #00a85e;
    font-family: 'Lato';
    font-weight: 700;
}

.registerContainer {
    position: absolute;
    top: 200px;
    border-radius: 15px;
    right: 30px;
    background-color: #333333;
    font-family: 'Lato';
    opacity: .9;
    display: flex;
}

.formHeader {
    margin-top: 10px;
    color: #00a85e
}

.inputContainer {
    display: flex;
    justify-content: space-between;
}

label {
    margin: 10px;
    color:#f5f5f5;
}

input {
    border-radius: 7px;
    color: #333333;
}

.search {
    width: 350px;
    padding: 5px;
}

.footer {
    display: flex;
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    display: flex;
}

.icon {
    filter: invert(37%) sepia(100%) saturate(1666%) hue-rotate(131deg) brightness(94%) contrast(102%);
    width: 40px;
    height: 40px;
    margin: 10px;
}

.icon:hover {
    cursor: pointer;
}

.otherLinks {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #00a85e
    
}


.gamesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.card {
    border: none;
    background-color: #f5f5f5;
    color: #007acc;
}

.card-img-top {
    height: 162px;
}

#search {
    display: flex;
    margin: 5px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}




