* {
    box-sizing: border-box;
}

body {
    background-color: #333333;
}

.maxContainer {
    max-width: 1100px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0;
}

.smallicon {
    height: auto;
    width: 50%;
}


button {
    border-radius: 5px;
    border: none;
    background-color: #00a85e;
    color: white;
    padding: 5px; 
    margin: 0 10px;
}

h1, h2, h3, p {
    color: #f5f5f5;
    text-align: center;
}

.Hero {
    position: relative;
    text-align: center;
}

.heroImg {
    max-width: 1200px;
    height: auto;
}


.CTA {
    font-size: 125px;
    position: absolute;
    text-align: left;
    top: 25px;
    left: 25px;
    color: #ffa500;
}